/*!
 * Author: Subhash Chandra
 */
.team-photo{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    margin-bottom: 10px;
}

.bg-primary {
    background-color: #456990 !important; 
}

<!-- start -->
#mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}


.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

<!--   End  -->
#contact p{
    color: grey;
    margin-bottom: 0px;
   
}

.team-contact{
    /*display: none;*/
}

.team-contact-mid{
    display: none;
}

#progress {
    background-color: #456990;
}

.box{
    background-color: #456990 !important; 
    display: table-cell;
    border-radius:5px;
    padding: 5px;
    margin-bottom: 5px;
}
.text{
    color:white;
    text-align:center;
    padding: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.wrapper {
    display: table;
    width: 100%;
}

.middle {
    display: table-cell;
    width: 3%;
}

@media (max-width: 770px){
    .not-available{
        display: none;
    }
}

@media (max-width: 900px) {
    .wrapper {
        display: inline-block;
    }

    .box {
        display: inline-block;
    }
}
